@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

html {
  height: 100%;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
}

.container {
  margin: 200px auto;
  width: 500px;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 1.5rem;
  color: #fff;
}

#refresh {
  color: #e879f9;
}

#create {
  color: #15803d;
  cursor: pointer;
}

.input-section {
  display: flex;
  border: 2px solid gainsboro;
  border-radius: 4px;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  width: 100%;
  background-color: #fff;
}

#inputs {
  outline: none;
  border: none;
  flex-grow: 1;
  font-size: 1.2rem;
}

.clear-btn {
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #7c3aed;
}

.clear-btn:hover {
  background-color: #6b21a8;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  border: none;
}

.trash {
  color: #ef4444;
}

.list-item {
  display: flex;
  border: 1px solid gainsboro;
  padding: 0.7rem;
  gap: 0.5rem;
  border-left: none;
  border-right: none;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
}

.list-item .description {
  flex-grow: 1;
  font-size: 1.3rem;
  outline: none;
  border: none;
  color: #22c55e;
}

.decorated {
  text-decoration: line-through;
  color: #ef4444 !important;
}

button {
  border: none;
}

.edit {
  outline: none;
  border: none;
  background-color: #15803d;
  border-radius: 6px;
  text-align: center;
  padding: 0.2rem;
  color: #fff;
  margin-top: 0.2rem;
}
